In [1]:
import rpy2
import rpy2.robjects as robjects

Unable to determine R home: [WinError 2] The system cannot find the file specified

In [2]:
pi = robjects.r['pi']

In [3]:
pi

<rpy2.robjects.vectors.FloatVector object at 0x000001D5F97B2780> [RTYPES.REALSXP]
R classes: ('numeric',)
[3.141593]

In [5]:
robjects.r('''
    add_nums <- function(x, y) {
        return (x+y)
    }

    print(add_nums(x=5, y=10))
    print(add_nums(x=10, y=20))
''')

[1] 15
[1] 30

<rpy2.robjects.vectors.FloatVector object at 0x000001BD709727C0> [RTYPES.REALSXP]
R classes: ('numeric',)
[30.000000]

In [6]:
import rpy2.robjects.packages as rpackages
utils = rpackages.importr('utils')

In [4]:
utils.chooseCRANmirror(ind=1)
utils.install_packages('nflfastR')

NameError: name 'utils' is not defined

In [5]:
robjects.r('''
    library(nflfastR)
    data <- load_pbp(2022)
    write.csv(data, "data.csv")
''')

Note: nflreadr caches (i.e., stores a saved version) data by default.
If you expect different output try one of the following:
i Restart your R Session or
i Run `nflreadr::.clear_cache()`.
To disable this warning, run `options(nflreadr.verbose = FALSE)` or add it to your .Rprofile
This message is displayed once every 8 hours.

<rpy2.rinterface_lib.sexp.NULLType object at 0x000001D5F982D2C0> [RTYPES.NILSXP]

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv', index_col = 0, encoding_errors='ignore')

C:\Users\aiden\AppData\Local\Temp\ipykernel_23708\3721933721.py:1: DtypeWarning: Columns (180,181,183,184,190,191,194,195,198,199,204,205,206,207,219,220,221,244,245,246,254,255,256,261,263,264,284,285,302,333) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data.csv', index_col = 0, encoding_errors='ignore')

In [9]:
data['qb_dropback'].value_counts(dropna=False)

0.0    18234
1.0    14598
NaN     1475
Name: qb_dropback, dtype: int64

In [11]:
data['qb_kneel'].hasnans

False

In [12]:
data['qb_spike'].hasnans

False

In [13]:
data['qb_scramble'].hasnans

False

In [15]:
data['pass_length'].isna().value_counts()

True     21354
False    12953
Name: pass_length, dtype: int64

In [17]:
data['pass_location'].isna().value_counts()

True     21354
False    12953
Name: pass_location, dtype: int64

In [19]:
data['air_yards'].isna().value_counts()

True     21316
False    12991
Name: air_yards, dtype: int64

In [12]:
offense = data[(data['rush'] == 1) | (data['pass'] == 1)].copy()
offense.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
3,68,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,1.468819,NaN,NaN,NaN,NaN,NaN,0.440373,-44.037291
4,89,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.492192,0.727261,6.988125,6.0,0.606930,0.227598,0.389904,61.009598
5,115,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.325931,NaN,NaN,NaN,NaN,NaN,0.443575,-44.357494
6,136,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-2.402200,NaN,NaN,NaN,NaN,NaN,0.963242,3.675753
8,202,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,BAL,away,NYJ,...,1,1,0.075127,1.480030,10.545964,9.0,0.606959,0.241949,0.479318,52.068213

In [ ]:
fantasy_cols = ['home_team', 'away_team', 'posteam', 'defteam', 'week', 'qtr', 'season_type', 'yards_after_catch', 'kick_distance', 'extra_point_result', 'two_point_conv_result', 'interception', 'fumble_forced', 'fumble_lost', 'sack', 'touchdown', 'receiver_player_name', 'rusher_player_name', 'rushing_yards', 'receiving_yards']

In [13]:
wr_cols = ['desc', 'posteam', 'defteam', 'week', 'yards_after_catch', 'touchdown', 'receiver_player_name', 'rusher_player_name', 'rushing_yards', 'receiving_yards']
wr_stats = offense[wr_cols].copy()

In [14]:
wr_stats.head()

,desc,posteam,defteam,week,yards_after_catch,touchdown,receiver_player_name,rusher_player_name,rushing_yards,receiving_yards
3,(14:56) 32-Mi.Carter left end to NYJ 41 for 19...,NYJ,BAL,1,NaN,0.0,NaN,Mi.Carter,19.0,NaN
4,"(14:29) (No Huddle, Shotgun) 19-J.Flacco pass ...",NYJ,BAL,1,NaN,0.0,Mi.Carter,NaN,NaN,NaN
5,"(14:25) (No Huddle, Shotgun) 32-Mi.Carter left...",NYJ,BAL,1,NaN,0.0,NaN,Mi.Carter,5.0,NaN
6,"(14:01) (No Huddle, Shotgun) 19-J.Flacco pass ...",NYJ,BAL,1,NaN,0.0,NaN,NaN,NaN,NaN
8,(13:42) 8-L.Jackson pass short right to 7-R.Ba...,BAL,NYJ,1,8.0,0.0,R.Bateman,NaN,NaN,4.0